<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{  
        height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:linear-gradient(135deg,#0f172a,#1e293b);
}

h1{
    color: rgb(255, 255, 255);
    text-align: center ;
    font-family:Verdana, Geneva, Tahoma, sans-serif
    }
</style>
<body>

    <h1 class="hi">Welcome to site</h1>
    
</body>
</html>